.container {
     width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    align-self: flex-start;
}

.email {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
    margin-bottom: 20px;
    font-size: 16px;
}

.senha {
   width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
    margin-bottom: 20px;
    font-size: 16px; 
}

.recall-forget {
    background-color: transparent;
    color: #fff;
    
    margin: 10px;

}

.recall-forget a {
    padding: 10px;
     color: #1d9bf0;
    text-decoration: none;

}

button {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #333;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
}
.separator {
    margin: 10px 0;
    color: #71767b;
    font-size: 15px;
    position: relative;
    width: 100%;
    text-align: center;
}
.signup-link {
    margin-top: 30px;
    color: #fff;
    font-size: 14px;
    align-self: flex-start;
}

.signup-link a {
     color: #1d9bf0;
    text-decoration: none;
}